body {
    font-family: source code pro;
}

#container {
    width: 80%;
    height: 300vh;
    background-color: #F0F2EF;
    margin-left: auto;
    margin-right: auto;
}

#nav_container {
    max-width: 100%;
    height: 18vh;
    background-color: #F0F2EF;;
}

#flooting_two_navs {
    display: grid;
    grid-template-columns: 30% 30%;
    column-gap: 35%;
}

#census_2008_div {
    height: 15vh;
    background-color: #F0F2EF;
    margin-top: 4%;
}
#herder_census {
    text-align: center;
    font-size: 40px;
    color: #519872;
    padding-top: 5%;
}

#home_download_div {
    height: 15vh;
    background-color: #F0F2EF;
    margin-top: 5%;
}

#container_div_home_download_div {
    display: grid;
    grid-template-columns: 30% 30%;
    column-gap: 2%;
    margin-top: 10%;
}

#home_div {
    height: 8vh;
    background-color: #F0F2EF;
    margin-left: 120px;
    padding-top: 15%;
}

#herder_home {
    font-size: 18px;
    text-align: center;
    color: #519872;
    font-weight: bold;
}

#download_div {
    height: 8vh;
    background-color: #F0F2EF;
    margin-left: 100px;
    padding-top: 15%;
}

#herder_download {
    font-size: 18px;
    text-align: center;
    color: #519872;
    font-weight: bold;
}

#container_for_calculating_male_female {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 2%;
    margin-left: 50px;
    margin-top: 1%;
}

#total_population_div {
    height: 17vh;
    box-shadow:  12px 12px 50px #F0F2EF;;
    background-color: #FFFFFF;
    border-radius: 7px 7px 7px 7px; 
    border-color: #FFFFFF;
    
} 

#population_container_div {
    display: grid;
    grid-template-columns: 28% 65%;
    column-gap: 5%;
}

#icon1_div {
    height: 9vh;
    background-color: #519872;
    margin-top: 30%;
    border-radius: 8px 8px 8px 8px;
    margin-left: 20px;
}

#text_div {
    height: 9vh;
    background-color: #FFFFFF;
    margin-top: 13%;
}

#name_of_population {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: -1px;

}

#amount_of_population {
    font-size: 30px;
    font-family: monospace;
    font-weight: bold;
    margin-top: -2px;
    margin-left: -30px;
}

#female_population_div {
    height: 17vh;
    box-shadow:  12px 12px 50px #F0F2EF;;
    background-color: #FFFFFF;
    border-radius: 7px 7px 7px 7px; 
    border-color: #FFFFFF;
}

#container_div_female {
    display: grid;
    grid-template-columns: 28% 60%;
    column-gap: 5%;
}

#icon2_div {
    height: 9vh;
    background-color: #519872;
    margin-top: 30%;
    border-radius: 8px 8px 8px 8px;
    margin-left: 20px;
}

#text2_div {
    height: 9vh;
    background-color: #FFFFFF;
    margin-top: 15%;
}

#name_of_female_population {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: -1px;
    margin-left: -100px;
    
}

#amount_of_female_population {
    font-size: 30px;
    font-family: monospace;
    font-weight: bold;
    margin-top: -2px;
    margin-left: -50px;
}

#male_population_div {
    height: 17vh;
    box-shadow:  12px 12px 50px #F0F2EF;;
    background-color: #FFFFFF;
    border-radius: 7px 7px 7px 7px; 
    border-color: #FFFFFF;
}

#container_div_male {
    display: grid;
    grid-template-columns: 28% 60%;
    column-gap: 5%;
}
#icon3_div {
    height: 9vh;
    background-color: #519872;
    margin-top: 30%;
    border-radius: 8px 8px 8px 8px;
    margin-left: 20px;
}

#text3_div {
    height: 9vh;
    background-color: #FFFFFF;
    margin-top: 15%;
}

#name_of_male_population {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: -1px;
    margin-left: -120px;
}

#amount_of_male_population {
    font-size: 30px;
    font-family: monospace;
    font-weight: bold;
    margin-top: -2px;
    margin-left: -50px;
}

#container_for_two_div {
    display: grid;
    grid-template-columns: 58% 34%;
    column-gap: 2%;
    margin-top: 3%;
}

#grid1_container {
    height: 50vh;
    background-color: #FFFFFF;
    margin-left: 50px;
    border-radius: 8px 8px 8px 8px;
    box-shadow:  12px 12px 50px #F0F2EF;
}

#grid2_container {
    height: 40vh;
    background-color: #519872;
    border-radius: 8px 8px 8px 8px;
    padding: 40px 40px 40px 40px ;
}

#container_div_for_district {
    width: 90%;
    height: 80vh;
    background-color: #FFFFFF;
    margin-left: 50px;
    margin-top: 3%;
    border-radius: 8px 8px 8px 8px;
    box-shadow:  15px 15px 50px #F0F2EF;
}

#distribution_of_population_by_district_container {
    display: grid;
    grid-template-columns: 66% 28%;
    column-gap: 2%;
    margin-top: 1%;
}

#text_distribution_div {
    height: 10vh;
    margin-top: 5%;

}

#txt_district_population {
    text-align: center;
    font-size: 25px;
    font-family: monospace;
}

#choosing_county_div {
    height: 6vh;
    background-color: #FFFFFF;
    margin-top: 15%;
    font-size: 30px;
    background-color: #F0F2EF;
    border-color: 50px#519872;
    padding-top: 5px;
}

#container_for_downloading_census_data {
    width: 90%;
    height: 17vh;
    margin-top: 3%;
    background-color: #519872;
    margin-left: 50px;
    border-radius: 8px 8px 8px 8px;
}

#grid_of_two_div {
    display: grid;
    grid-template-columns: 55% 30%;
    column-gap: 10%;
    
}

#download_data_text_div {
    height: 10vh;
    background-color: #519872;
    margin-top: 5%;
}

#txt_census_data {
    font-size: 30px;
    text-align: center;
    font-family: monospace;
    color: #FFFFFF;
}

#download {
    height: 10vh;
    background-color: #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    margin-top: 10%;
}

#container_for_data_downloading {
    display: flex;
}

#icon_div2 {
    width: 12%;
    height: 5vh;
    background-color: #519872;
    border-radius: 8px 8px 8px 8px;
    margin-left: 12%;
    margin-top: 7%;
}

#txt_header {
    font-size: 30px;
    background-color: #FFFFFF;
    color: #519872;
    margin-left: 5%;
    margin-top: 8%;
    font-family: cursive;
}

#container_num_household_population {
    display: grid;
    grid-template-columns: 63% 30%;
    column-gap: 1%;
    margin-top: 3%;
}

#grid_household {
    height: 70vh;
    background-color: #FFFFFF;
    margin-left: 50px;
    border-radius: 8px 8px 8px 8px;
    box-shadow:  12px 12px 50px #F0F2EF;
}

#distribution_of_population_by_households_container {
    display: grid;
    grid-template-columns: 55% 35%;
    column-gap: 2%;
    margin-top: 1%;
}

#text_household_div {
    height: 10vh;
    margin-top: 5%;
}

#txt_num_householod_population {
    font-size: 20px;
    font-family: monospace;
    margin-left: 8%;
}

#choosing_county_household_div {
    height: 6vh;
    background-color: #FFFFFF;
    margin-top: 17%;
    font-size: 25px;
    background-color: #F0F2EF;
    border-color: 50px#519872;
    padding-top: 5px;
    margin-left: 3%;
}

#counties_with_most_fe_ma_div {
    height: 70vh;
    background-color: #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    box-shadow:  12px 12px 50px #F0F2EF;
}

#txt_num_householod_population2 {
    font-size: 20px;
    margin-top: 12%;
    font-family: monospace;
    margin-left: 10%;
}

#flex_container_text {
    display: grid;
    grid-template-columns: 30% 35% 35%;
}

#display_county_name {
    height: 50vh;
    /* background-color: green; */
    margin-top: 12%;  
    padding: 10px;
}

#female_F {
    height: 50vh;
    /* background-color: grey; */
    text-align: right;
    padding: 10px;
    margin-top: 10%;  

}
#male_M {
    height: 50vh;
    /* background-color: blue; */
    text-align: right;
    padding: 10px;
    margin-top: 10%;  
    
}